/* GENERAL */
/* GENERAL */

/* --------------------------------- */

/* HEADER */

.linkBox:hover {
  background-color: #5fb4a2;
}

/* HEADER */

/* --------------------------------- */

/* PROFILE AND CONTACT SECTION */

.link2:hover {
  background-color: #33323d;
  color: #fafafa;
}

/* PROFILE AND CONTACT SECTION */

/* --------------------------------- */

/* FOOTER */
/* FOOTER */
